version: "3.9"

services:
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - pip-cache:/usr/local/lib/python3.11/site-packages
    command: uvicorn delivery.main:app --host 0.0.0.0 --port 8000 --reload

volumes:
  pip-cache:
